<div class="container mt-4">
    <h2>Upcoming Conventions</h2>
    {{!-- Loop through the conventions and display them dynamically --}}
    <div class="row mt-4">
        {{#each conventions}}
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="{{this.convention_image}}" class="card-img-top" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <!-- Dynamic link to the convention's detail page -->
                    <a href="/conventions/{{this.id}}" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>