<form action="/logout" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-link text-dark text-decoration-none">
                        <i class="bi bi-box-arrow-right fs-4"></i>
                        <span>Logout</span>
                    </button>
                </form>